- content_for :top_content do

  .container
    .row

      <!-- LEFT COLUMN -->
      .col-md-9

        <!-- PLANTS -->
        %h3
          = link_to("Your Plants", plants_path)
          = link_to(new_plant_path, { :class=>"new-plant-link" }) do
            %span.glyphicon.glyphicon-plus-sign.text-success
        =alert_box("..coming soon", context: "warning")

      <!-- RIGHT COLUMN -->
      .col-md-3

        <!-- JOURNAL -->
        .row
          .col-md-12
            %h3
              Your Journal
              = link_to(root_path) do
                %span.glyphicon.glyphicon-plus-sign.text-success
            =alert_box("..coming soon (after plants)", context: "warning")

        <!-- GARDENS -->
        .row
          .col-md-12
            %h3= link_to("Your Gardens", gardens_path)
            - @gardens.each_with_index do |garden, i|
              = link_to(garden) do
                .garden.thumbnail.text-center
                  = image_tag(garden.thumb,:alt => garden.name)
                  %h4.garden__title.caption= garden.name