= simple_form_for(@plant) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :scientific_name
    = f.input :height
    = f.input :width
    = f.input :spacing
    = f.select :life_cycle, Plant.life_cycles.keys
    = f.select :sun, Plant.suns.keys
    = f.select :sow_method, Plant.sow_methods.keys
    = f.input :direct_seed_start
    = f.input :direct_seed_stop
    = f.input :indoor_seed_start
    = f.input :indoor_seed_stop
    = f.input :transplant_start
    = f.input :transplant_stop
    -#= f.collection_select :garden, Garden.all, :id, :name

  .form-actions
    = f.button :submit
