%h1 Listing plants

%table
  %thead
    %tr
      %th Name
      %th Scientific name
      %th Height
      %th Width
      %th Spacing
      %th Life cycle
      %th Sun
      %th Sow method
      -# %th Direct seed start
      -# %th Direct seed stop
      -# %th Indoor seed start
      -# %th Indoor seed stop
      -# %th Transplant start
      -# %th Transplant stop
      %th Garden
      %th
      %th
      %th

  %tbody
    - @plants.each do |plant|
      %tr
        %td= plant.name
        %td= plant.scientific_name
        %td= plant.height
        %td= plant.width
        %td= plant.spacing
        %td= plant.life_cycle
        %td= plant.sun
        %td= plant.sow_method
        -# %td= plant.direct_seed_start
        -# %td= plant.direct_seed_stop
        -# %td= plant.indoor_seed_start
        -# %td= plant.indoor_seed_stop
        -# %td= plant.transplant_start
        -# %td= plant.transplant_stop
        %td= plant.garden.name
        %td= link_to 'Show', plant
        %td= link_to 'Edit', edit_plant_path(plant)
        %td= link_to 'Destroy', plant, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Plant', new_plant_path
