= simple_form_for(@garden) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :square_feet
    = f.input :zone
    = f.input :garden_type
    = f.collection_select :user_id, User.all, :id, :email

  .form-actions
    = f.button :submit
