.container
  .row
    .col-md-12
      %p#notice= notice

  .row
    .col-md-12
      %h1 #{@garden.name}

  .row.jumbotron
    .col-md-8
      = image_tag( @garden.thumb, {class: "img-responsive, img-thumbnail"})

    .col-md-4
      %p
        %b Square feet:
        #{@garden.square_feet} feet
      %p
        %b Zone:
        zone #{@garden.zone}
      %p
        %b Garden type:
        = @garden.garden_type

      = link_to '[ Edit info ]', edit_garden_path(@garden)


  .row
    .col-md-12
      %h3 You're growing #{@garden.plants.count} plants:
  .row
    .col-md-2
      - @garden.plants.each do |plant|
        = render("shared/plants/card", {plant: plant, garden: @garden} )