%p#notice= notice

%h1 #{@garden.name}
= image_tag( @garden.thumb, {:width => 600})

%p
  %b Square feet:
  #{@garden.square_feet} feet
%p
  %b Zone:
  zone #{@garden.zone}
%p
  %b Garden type:
  = @garden.garden_type
%p
  %b User email:
  = @garden.user.email

= link_to 'Edit', edit_garden_path(@garden)
\|
= link_to 'Back', gardens_path
