<!DOCTYPE html>
<html>
<head>
  <title>Veg Journal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "shared/navbar" %>

<div class="container">
  <div id="flash">
    <% if notice.present? %>
        <%= render partial: "shared/notice_banner" %>
    <% end %>
  </div>

</div>

<%= yield :top_content %>

<div class="container">
    <h1><%= yield :header %></h1>
  <%= yield %>
</div>

</body>
</html>
